<%= stylesheet_link_tag "/home.css" %>

<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

<<<<<<< HEAD
=======
<% if user_signed_in? %>
<a href="/movies" class="myButton">View all Movies</a>
<% else %>
<a href="/users/sign_up" class="myButton">Sign Up Now</a>
<%end%>

>>>>>>> 76b37111310222228f0d1e18b8cc1da342a290bc
<body class="home">
</body>