<%= stylesheet_link_tag "/home.css" %>

<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>


<% if user_signed_in? %>
<a href="/movies" class="myButton">View all Movies</a>
<% else %>
<a href="/users/sign_up" class="myButton">Sign Up Now</a>
<%end%>

<body class="home">
</body>