<%= stylesheet_link_tag "/home.css" %>

<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>


<a href="/movies" class="myButton">View all movies</a>

<body class="home">
</body>