<%= stylesheet_link_tag "/home.css" %>

<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
<!-- <h3 class="full-width">
  <div class="wrap">Rate and review your favourite movies.</div>
</h3> -->
<!-- 
<img class="cover" src="/assets/cover.jpg" height= "500" width= "auto"> -->
<a href="/movies" class="myButton">View popular movies</a>

<body class="home">
</body>