<%= stylesheet_link_tag "/home.css" %>

<h3 class="full-width">
  <div class="wrap">Rate and review your favourite movies.</div>
</h3>

<img class="cover" src="/assets/cover.jpg" height= "500" width= "1200">
<a href="/movies/7" class="myButton">Steel a Glance</a>


 