<%= form_for (@genre) do |f| %>

	<div >
	<p class="headings"><%= f.label :new_genre_name %></p><br />
	<%= f.text_area :gName , :class => "moviename" %>
	</div>
	<div class="buttonposition4">
	<%= f.submit 'Create Genre', :class => "button4" %>
	</div>

<% end %>