.headings{
	font-family: Abel;
	color: white;
	font-size:38px;
	text-align: center;
	margin-top: 10px;
}
.otherwords{
font-family: Abel;
	color: white;
	font-size:25px;
	text-align: left;
	position:absolute;right:44.5%;top:25%;
}
.otherwords2{
font-family: Abel;
	color: white;
	font-size:25px;
	text-align: left;
	position:absolute;right:44.5%;top:45%;}

	.genredrop{
		width: 300px;
    height: 40px;
	position:absolute;right:32%;top:56%;
}
	
	.movebacklink{
		position: absolute;right: 10%; top: 45%;
	}

.button4 {
    width: 300px;
    height: 40px;
    background: #002851;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #002851;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family:  'Abel', sans-serif;
    text-align: center;
    outline: none;
    cursor: pointer;
     margin: 0 auto;
}
.button4:hover {
    background: #003366;
    border: 1px solid #003366;
}
.buttonposition4{
	 position:absolute;right:39.5%;top:70%;
}
.moviename{
	position:absolute;right:39.5%;top:38%;
	 width: 300px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
    font-size: 18px;
    font-family:  'Abel', sans-serif;
    padding: 0 10px 0 10px;
    outline: gold;
}

.moviename2{
    position:absolute;right:39.5%;top:50%;
     width: 300px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
    font-size: 18px;
    font-family:  'Abel', sans-serif;
    padding: 0 10px 0 10px;
    outline: gold;
}
.moveme{

	position:absolute;right:35%;top:80%;
}