
.bodybody{
	background-color: black;
	  overflow-y: hidden;
}
.editreviewpage{
	/*background-color: #BBBBBB;*/
	/*padding: 20px 50px;*/
	margin:0px auto;
	width:60%;
	height:800px;
	overflow-y: hidden;
	/*margin-top: 100px;*/

}
.heading1{
	font-family: Abel;
	color: white;
	font-size:35px;
	text-align: center;
}
.ratingbox{
	font-size: 15px;
	position:absolute;left:30%;top:34%;
	width: 15px;
    height: 10px;

    box-sizing: border-box;
}
.ratingbox2{
	font-size: 15px;
	position:absolute;left:33%;top:40%;
	width: 15px;
    height: 10px;

    box-sizing: border-box;
}
.ratingupd{
font-family: Abel;
	color: gold;
	font-size:30px;
	text-align: left;
	padding:0px;
}
.textarea {
    width: 575px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
    font-size: 18px;
    font-family:  'Abel', sans-serif;
    padding: 0 10px 0 10px;
    outline: gold;

	position:absolute;left:30%;top:52%;
}
.textarea2 {
    width: 575px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
    font-size: 18px;
    font-family:  'Abel', sans-serif;
    padding: 0 10px 0 10px;
    outline: gold;

	position:absolute;left:33%;top:60%;
}
.button3 {
    width: 300px;
    height: 40px;
    background: #002851;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #002851;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family:  'Abel', sans-serif;
    text-align: center;
    outline: none;
    cursor: pointer;
     margin: 0 auto;
}
.button3:hover {
    background: #003366;
    border: 1px solid #003366;
}
.buttonposition2{
	 position:absolute;right:15%;top:85%;
}
