.content{
	background-color: black;
}
.movieImg{
	height: 400px;
	width: 300px;
}
.left .movieImg{
	float: left;
	margin: 5px;
}
.right{
	float: right;
	width: 70%;
	margin: 10px;
}
.right li{
	padding: 5px;
}
.clear{
	clear: both;
}
 li a{
	display: block;
	 padding: 14px 16px;
}
li h2{
	text-align: center;
	color: turquoise;
	margin-top: 2px;
	padding-bottom: 3px;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
}
h1{
	font-family: 'Abel', sans-serif;
}
li{
	float: left;
}
ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.search form{
	margin-top: 20px;
}
h4{
	color: silver;
}
h3,p,li{
	color: silver;
}