
body.signin{
	background-image: url("/assets/sign1.jpg");
	 background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent; 
}


/*h2{
	color: white;
	font-family:  'Abel', sans-serif;
}
h1{
	font-family:  'Abel', sans-serif;
}
*/

.login-block {
padding-top: 100px;
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 5px solid #325b84;
    margin: 150px;

}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-family:  'Abel', sans-serif;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family:  'Abel', sans-serif;
    padding: 0 10px 0 20px;
    outline: none;
}
.fontforinput{
	font-size: 18px;
    font-family:  'Abel', sans-serif;
}
.remembermebox{
	font-size: 18px;
    font-family:  'Abel', sans-serif;
	
}



.login-block input:active, .login-block input:focus {
    border: 1px solid #002851;
}

.button {
    width: 100%;
    height: 40px;
    background: #002851;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #002851;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family:  'Abel', sans-serif;
    text-align: center;
    outline: none;
    cursor: pointer;
    
}

.button:hover {
    background: #003366;
    border: 1px solid #003366;
}
input[type='checkbox'] {
	
   width: 17px;
   height: 17px;
}
.myButton2 {
    -moz-box-shadow: 0px 0px 0px 2px #1b306b;
    -webkit-box-shadow: 0px 0px 0px 2px #1b306b;
    box-shadow: 0px 0px 0px 2px #1b306b;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #07265c), color-stop(1, #1a4c8a));
    background:-moz-linear-gradient(top, #07265c 5%, #1a4c8a 100%);
    background:-webkit-linear-gradient(top, #07265c 5%, #1a4c8a 100%);
    background:-o-linear-gradient(top, #07265c 5%, #1a4c8a 100%);
    background:-ms-linear-gradient(top, #07265c 5%, #1a4c8a 100%);
    background:linear-gradient(to bottom, #07265c 5%, #1a4c8a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#07265c', endColorstr='#1a4c8a',GradientType=0);
    background-color:#07265c;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #263f8a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}
.myButton2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1a4c8a), color-stop(1, #07265c));
    background:-moz-linear-gradient(top, #1a4c8a 5%, #07265c 100%);
    background:-webkit-linear-gradient(top, #1a4c8a 5%, #07265c 100%);
    background:-o-linear-gradient(top, #1a4c8a 5%, #07265c 100%);
    background:-ms-linear-gradient(top, #1a4c8a 5%, #07265c 100%);
    background:linear-gradient(to bottom, #1a4c8a 5%, #07265c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a4c8a', endColorstr='#07265c',GradientType=0);
    background-color:#1a4c8a;
}/*
.myButton2:active {
    position:relative;
    top:1px;
}*/




.myButton2 {position:absolute;right:8%;top:50%;}