.account_page{
	background-color: #BBBBBB;
	padding: 20px 50px;
	margin:0px auto;
	width:60%;
	height:800px;
}

.account_info{
	background-color: #FFFFFF;
	border-radius:5px;
	padding:15px;
	float:right;
	color:#BBBBBB;
	width:70%;
}

.account_page h1{
	font-family: Abel;
	font-size: 50px;
	font-weight: bold;
	color:black;
}

.account_info p{
	font-family: Abel;
	color:#555555;
	font-size:30px;
}
.account_info a{
	font-family: Abel;
	color:rgb(50, 101, 152);
	font-size:30px;
	float: right;
	text-decoration: none;
}
.account_info a:hover{
	text-decoration: underline;
}
.heading{
	font-family: Abel;
	color:rgb(0, 51, 102);
	font-size:30px;
	float:left;
	padding:0px;
}
.account{
	margin:10px;
	overflow: hidden;
}
.other{
	margin: 10px;
	overflow:hidden;
}